<div class="row">
  <div class="col-md-12">
    <div *ngIf="playlist">
      <h2>{{ playlist.name }}</h2>
    </div>
    <table id="songList" class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Názov</th>
          <th>Interpret</th>
          <th>Akcie</th>
        </tr>
      </thead>
      <tbody *ngIf="playlist != undefined">
        <tr *ngFor="let song of playlist.songs">
          <td><a [routerLink]="['/zobrazit/piesen', song.id]">{{ song.title }}</a></td>
          <td>{{ song.artist }}</td>
          <td>
            <button title="Zobraziť pieseň" class="btn btn-sm btn-primary" type="button" [routerLink]="['/zobrazit/piesen', song.id]">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </button>
            <button title="Upraviť pieseň" class="btn btn-sm btn-primary" type="button" [routerLink]="['/upravit/piesen', song.id]">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
